.spinner-wrapper {
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    margin: auto;
  }
}
.font-lg {
  font-size: 16px;
  font-weight: bold;
}
.widget h3 {
  font-size: 23px;
}
.container-info {
  background-color: #ddf1f7;
  border-top: 1px solid lightgrey;
  height: 35px;

  & > * {
    display: inline-block;
  }

  &:hover {
    .actions {
      visibility: visible;
    }
  }
  .index {
    margin-left: 24px;
  }
  .container-name {
    display: inline-block;

    span {
      line-height: 33px;
      cursor: pointer;
    }
    input {
      // height: 10px;
    }
  }

  .actions {
    visibility: hidden;
    float: right;
    width: 135px;
    text-align: right;
    padding-right: 14px;
  }
  .totals {
    float: right;
    margin-right: 30px;
    margin-top: 7px;
    width: 120px;
  }
}
.container-info {
  background-color: #beeaf7;
  &:hover { background-color: #beeaf7; }
}
.container-details .container-info {
  margin-left: 20px;
  background-color: #ccedf7;
  &:hover { background-color: #beeaf7; }
}
.container-details .container-details .container-info {
  margin-left: 40px;
  background-color: #ddf2f9;
  &:hover { background-color: #beeaf7; }
}
.container-details .container-details .container-details .container-info {
  margin-left: 60px;
  background-color: #e7f1f5;
  &:hover { background-color: #beeaf7; }
}
.container-details .container-details .container-details .container-details .container-info {
  margin-left: 80px;
  background-color: #e7f1f5;
  &:hover { background-color: #beeaf7; }
}
.container-details .container-details .container-details .container-details .container-details .container-info {
  margin-left: 100px;
}
.container-details .container-details .container-details .container-details .container-details .container-details .container-info {
  margin-left: 120px;
}
.container-details .container-details .container-details .container-details .container-details .container-details .container-details .container-info {
  margin-left: 140px;
}
.container-details {
  // margin-left: 20px;

  input[type=text] {
    height: 29px;
  }
  table.table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0;

    th {
      background-color: #dadada;
    }

    td.text {
      padding: 6px 4px;
    }
    td.quantity input {
      width: 100px;
    }

    tbody tr td {
      padding: 1px 10px;
    }
    td .switch {
      margin-top: 7px;
    }
  }
}
.table-wrapper {
  padding-left: 60px;
}
.actions {
  padding-top: 4px;

  button {
    margin-left: 5px;
  }
}

.product-line {
  // background-color:#ffece0;
  &:hover {
    background-color: #eaeaea;
  }
}

.collapse-toggler {
  width: 23px;
  // display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 4px;
}

.onoffswitch-inner:before {
  content: "SI";
}

.onoffswitch-inner:after {
  content: "NO";
}
